.navlinks a {
  color: #102851;
  text-decoration: none;
}

@media (max-width: 900px) {
  .navlinks {
    position: fixed;
    background: #102851;
    width: 80vw;
    top: 0;
    right: 0;
    z-index: 9999;
    transform: translateX(100%);
    padding: 1rem;
    transition: transform 400ms ease;
  }
  .active {
    transform: translateX(0%);
  }
  .navlinks a:nth-child(1) {
    margin-top: 3rem;
  }
  .navlinks a {
    color: #ffff;
    margin-bottom: 1rem;
    text-align: left;
  }
}
